* {
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

#container {
    width: 100%;
    max-width: 850px;
}

#container h1 {
    text-align: center;
    font-weight: bold;
}

#contato {
    margin: auto 40px;
}

#contato legend {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

#contato .formLabel label {
    font-size: 1.2rem;
    border-radius: 2px;
    margin: 20px
}

#contato .formInput input {
    width: 80%;
    margin: 6px
}

#contato .formInput textarea {
    width: 50%
}

#contato .botao button {
    width: 70%;
    background-color: #fc5c65;
    margin-top: 10px;
}

#contato .botao button:hover {
    background-color: #fc5c65;
}